[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nicolai1981
[access "refs/for/refs/*"]
	read = group user/nicolai1981
	push = group user/nicolai1981
	label-Code-Review = -2..+2 group user/nicolai1981
	label-Verified = -1..+1 group user/nicolai1981
	rebase = group user/nicolai1981
	removeReviewer = group user/nicolai1981
	submit = group user/nicolai1981
[access "refs/heads/*"]
	read = group user/nicolai1981
	create = group user/nicolai1981
	push = +force group user/nicolai1981
	pushMerge = group user/nicolai1981
[access "refs/tags/*"]
	push = +force group user/nicolai1981
	pushTag = group user/nicolai1981
	pushSignedTag = group user/nicolai1981
